################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Agile-Project/FileContentIndex/1065586f-23db-4b1d-ae4a-e2a5162e904a.vsidx
/.vs/Agile-Project/FileContentIndex/b0a9a647-5ec3-41a8-a313-8cce377a382f.vsidx
/.vs/Agile-Project/v17/.wsuo
/.vs/ATM_forms/FileContentIndex/47c7b564-41c4-42a2-bc38-34b0dabfd406.vsidx
/.vs/ATM_forms/FileContentIndex/4797157a-aa9c-42c6-aef1-950a25c5fbd1.vsidx
/.vs/ATM_forms/FileContentIndex/63560edb-edb7-49d4-b407-95a621f69d31.vsidx
/.vs/ATM_forms/FileContentIndex/589119b4-af8a-488a-b8e3-f69ecf995b2d.vsidx
/.vs/ATM_forms/FileContentIndex/e60da400-e473-46f1-b1bf-eae566c9e8e5.vsidx
/.vs/Agile-Project/FileContentIndex/bb23f670-463a-47ae-8133-6f147d02b8aa.vsidx
/.vs/ATM_forms/FileContentIndex/7faaf4c5-7891-420c-9132-8769e15186cf.vsidx
/.vs/Agile-Project/FileContentIndex/41a5ddf9-235d-4538-ac9e-495a05857294.vsidx
/.vs/Agile-Project/FileContentIndex/652faa7b-aeb1-42d9-968b-49ea5e66d2d8.vsidx

obj/
/.vs/ATM_forms/FileContentIndex/6f682639-10d3-4c8d-bd87-7a7f2f29c0af.vsidx
